go 1.25.0

use (
	./api-gateway
	./audit-service
	./auth-service
	./ledger-service
	./notification-service
	./payment-service
	./pkg
	./proto
	./scheduler-service
	./transaction-service
	./user-service
	./wallet-service
)
